@media screen and (min-width: 420px) {
    .casino_odds_container form {
        display: flex;
    }

    .casino_odds_container form .blackjack_container, .roulette_container, .slots_container {
        width: 25%;
    }

    .casino_odds_container form {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 450px) {    
    .result_section form {
        display: flex;
        justify-content: space-around;
    }

    .casino_odds_container form {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) {
    body {
        max-width: 75rem;
        margin: auto;
    }
}