@media screen and (min-width: 420px) {
    .casino_odds_container form {
        display: flex;
    }

    .casino_odds_container form .slots_container, .blackjack_container, .roulette_container {
        background-color: #9E2B25;
        width: 30%;
    }

    .casino_odds_container form .blackjack_container, .roulette_container {
        background-color: #9E2B25;
        width: 40%;
    }
}

@media screen and (min-width: 450px) {
    .result_section {
    }
}