:root {
    --fondo: #F5F5F5;
    --sections: #EBEBEB;
    --texts: #051946;
    --titles: #9E2B25;
    --buttons: #ff6600b7;
}

body {
    background-color: var(--fondo);
    margin: 0;
    padding: 1rem;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}

/*Nav section*/

.nav {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--sections);
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
}

.nav img {
    mix-blend-mode: color-burn;
    height: 90%;
    margin: auto 1rem auto 0;
}

.nav .nav_title {
    color: var(--titles);
    font-size: 2rem;
    font-weight: 600;
    margin: auto 0 auto 0.5rem;
}

/*Main description section*/

.main_description {
    background-color: var(--sections);
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
}

/*Titles general styles*/
.main-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    color: var(--titles);
}

.main-text {
    font-size: 1.35rem;
    margin: 0 0 1rem 0;
    color: var(--texts);
    font-weight: 400;
}

/*buttons section general styles*/
.main-buttons-container, .sports_buttons_container {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0 0 0;
}

.main-buttons-casino, .main-buttons-sports, .sports_buttons-single, .sports_buttons-combi {
    width: 8rem;
    height: 4rem;
    border: 0.1rem solid var(--titles);
    border-radius: 0.5rem;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: var(--texts);
    background-color: var(--buttons);
}

/*Casino section*/

.casino_section {
    background-color: var(--sections);
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
    display: none;
}

.sports_section {
    background-color: var(--sections);
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
    display: none;
}

.casino_section-title, .sports_section-title, .result_title, .result_title2{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--titles);
    margin: 0;
}

/*button important info general styles*/

.casino_iic-container, .sports_iic-container { 
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.casino_iic-button, .sports_iic-button {
    width: 90%;
    height: 3rem;
    border: none;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-align: start;
    color: var(--titles);
    background-color: var(--sections);
    padding: 0;
}

.casino_iic-icon, .sports_iic-icon {
    width: 2rem;
    height: 3rem;
    background-image: url("https://i.postimg.cc/DmVMvsqt/images-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.casino-iic-text {
    display: none;
}

.casino-iic-list, .sports-iic-list {
    margin: 0;
    padding: 0 0 0 3rem;
    font-size: 1.35rem;
    color: var(--texts);
    font-weight: 400;
}

.casino_odds_container form {
    font-size: 1.35rem;
    color: var(--texts);
    font-weight: 400;
    margin: 0.5rem 0;
}

/*Sports section*/

.sports-iic-text {
    display: none;
}

.sports_odds_big_container {
    display: flex;
    font-size: 1.35rem;
    color: var(--texts);
    font-weight: 400;
    margin: 1rem 0 0 0;
    justify-content: space-around;
}

.sports_odds_single_container {
    margin: 0 0.5rem 0 0;
    display: block;
    position: relative;
    z-index: -1; /*change under revision*/
}

.sports_odds_combi_container {
    display: block;
    position: relative;
    z-index: -1; /*change under revision*/
}

/*Result section*/

.result_section {
    background-color: var(--sections);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}



#user_input {
    margin: 0.5rem 0 1rem 0;
    height: 3rem;
    width: 15rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    font-family: "Exo", sans-serif;
}

.submit_btn {
    width: 8rem;
    height: 3rem;
    border: 0.1rem solid var(--titles);
    border-radius: 0.5rem;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: var(--texts);
    background-color: var(--buttons);
}

.result_title2 {
    margin: 0 0 0.5rem 0;
}

.display_result_container {
    margin: 0;
    width: 15rem;
    height: 3rem;
    background-color: var(--fondo);
    border: 0.1rem solid var(--texts);
    border-radius: 0.5rem;
    display: flex;
    padding: 0 0.2rem;
}

.display_result_span {
    margin: auto 0;
    font-family: "Exo", sans-serif;
    font-size: 1.4rem;
}

/*Footer section*/

.contact_section {
    background-color: var(--sections);
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.social_media {
    margin: auto 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.social_media a:nth-child(1) {
    margin: 0 0.5rem 0 0;
}

.disclaimer {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--texts);
}